@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700;800;900&display=swap');

body {
    overflow-x: hidden;
    background-color: lightseagreen;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
}

h1 {
    justify-content: center;
    font-weight: 800;
    font-size: 30px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}